* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    display: block;
}

/*Header and Nav bar Styling*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 48px;
}

header h1 {
    display: inline-flex;
}

nav {
    font-size: 20px;
    display: inline-flex; 
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

nav ul {
    display: block;
}

nav li{
    display: inline-flex;
    list-style: none;
    margin-right: 20px;
}

.seo {
    color: #d9dcd6;
}
/*End of Header Styling*/

/*All link styling*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*All paragraph styling*/
p {
    font-size: 16px;
}

/*Banner Styling*/
.banner{
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
}

.banner img{
    width: inherit;
    height: inherit;
}
/*End of Banner Styling*/

/*Content Section Styling*/
.content {
    margin-left: 20px;
    height: auto;
    display: block;
}

.content-article {
    display: inline-block;
    width: 78%;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Size of text in content section*/
.content-article p {
    font-size: 16px;
}

.content-image-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.content-image-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}
/*End of Content Section Styling*/

/*Aside Styling*/
.benefits {
    float: right;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*End of Aside Styling*/

/*Footer Styling*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

footer {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer-h2 {
    font-size: 20px;
}
/*End of Footer Styling*/